<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="QueueName" value=".\private$\msmq.gen.decipher.recovery"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NoSecurityBinding">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      <msmqIntegrationBinding>
        <binding name="MsmqInternalBinding" exactlyOnce="false" useSourceJournal="true" useMsmqTracing="true">
          <security>
            <transport msmqEncryptionAlgorithm="RC4Stream" msmqProtectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </msmqIntegrationBinding>
      <netTcpBinding>
        <binding name="NetTcpBindingSecure" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" transferMode="Buffered" maxReceivedMessageSize="67108864" portSharingEnabled="true">
          <security mode="Message">
            <message clientCredentialType="Windows" algorithmSuite="Basic256"/>
          </security>
        </binding>
      </netTcpBinding>
      <mexHttpBinding>
        <binding name="MexHttpBinding"/>
      </mexHttpBinding>
      <mexTcpBinding>
        <binding name="MexTcpBinding"/>
      </mexTcpBinding>

    </bindings>
    <diagnostics wmiProviderEnabled="false" performanceCounters="Default"/>
    <services>
      <service name="EmergencyMessageSave">
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://localhost:20100/EmergencyMessageSave" />-->
            <!--<add baseAddress="net.tcp://localhost:20200/EmergencyMessageSave/" />-->
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBindingSecure" name="EmergencySave" contract="IEmergencyMessageSave"/>
        <endpoint bindingConfiguration="MexTcpBinding" address="mex" contract="IMetadataExchange" binding="mexTcpBinding" name="MexEndpoint"/>
      </service>
      <!--
      <service name="EmergencyMessageSave">
        <endpoint address="msmq.formatname:DIRECT=OS:.\private$\msmq.gen.decipher.recovery"
          binding="msmqIntegrationBinding" bindingConfiguration="MsmqInternalBinding"
          contract="IEmergencyMessageSave" />
        <endpoint address="mex" binding="mexHttpBinding"
          bindingConfiguration="MexHttpBinding"
          contract="IMetadataExchange"
          listenUriMode="Explicit">


        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:20100/EmergencyMessageSave" />
          </baseAddresses>
        </host>
      </service>
      -->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="netTcpBinding" scheme="net.tcp" bindingConfiguration="NetTcpBindingSecure"/>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>